# Dependency directories
node_modules

# Logs
logs
*.log
npm-debug.log*

# Build files
build
**/out
**/.next

# Configs
configs/config.production.json
configs/config.development.json
configs/config.test.json

# Other
notes.md
.cache
.DS_Store
requests.http
start-localstack.sh

